body {
	font-family: sans-serif;
	font-size: 1em;
}

a {
	color: white;
	text-decoration:none;
	padding: 10px 14px 10px 14px;
	margin: 5px 0 5px 0;
	display: block;
	width: fit-content;
	border-radius: 100px;
}

a:hover {
	background-color: white;
}

.blue {
	background-color: blue;
}

.blue:hover {
	color: blue;
	border: .5px solid blue;
}

.orange {
	background-color: orange;
}

.orange:hover {
	color: orange;
	border: .5px solid orange;
}

#hpmonash {
	background-color: orange;
}

#hpmonash:hover {
	color: orange;
	background-color: white;
	border: .5px solid orange;
}